# Use this notebook for your 3 choices of APIs

In [19]:
#importing libraries
import requests
import pandas as pd
import json
from pandas import json_normalize

##  (1) Free Currency Rates API

- For this I want to request closing exchange rate at the first session of the year (2023-01-02) and compare it with recent day (2023-11-20)

In [71]:
#First requesting the close price at first trading session of 2023
fx_02012023 = requests.get("https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/2023-01-02/currencies/eur.json")
print("fx_02012023:", fx_02012023.status_code)

fx_02012023: 200

In [72]:
results_02012023 = fx_02012023.json()
print(type(results_02012023))
print(len(results_02012023))

<class 'dict'>
2

In [73]:
results_02012023

{'date': '2023-01-02',
 'eur': {'1inch': 2.786093,
  'aave': 0.02063,
  'ada': 4.301839,
  'aed': 3.93237,
  'afn': 93.69189,
  'algo': 6.060324,
  'all': 114.727695,
  'amd': 421.576665,
  'amp': 347.239216,
  'ang': 1.929853,
  'aoa': 539.312857,
  'ar': 0.169235,
  'ars': 189.21814,
  'atom': 0.113707,
  'aud': 1.571356,
  'avax': 0.098975,
  'awg': 1.927299,
  'axs': 0.171241,
  'azn': 1.822729,
  'bam': 1.961595,
  'bat': 6.412429,
  'bbd': 2.161974,
  'bch': 0.011089,
  'bdt': 110.454783,
  'bgn': 1.956374,
  'bhd': 0.403213,
  'bif': 2207.828108,
  'bmd': 1.070722,
  'bnb': 0.004393,
  'bnd': 1.435078,
  'bob': 7.399014,
  'brl': 5.660377,
  'bsd': 1.070757,
  'bsv': 0.025975,
  'bsw': 6.549166,
  'btc': 6.5e-05,
  'btcb': 6.4e-05,
  'btg': 0.091801,
  'btn': 88.420269,
  'busd': 1.070404,
  'bwp': 13.657738,
  'byn': 2.702743,
  'byr': 20986.144969,
  'bzd': 2.158404,
  'cad': 1.448269,
  'cake': 0.338506,
  'cdf': 2173.565245,
  'celo': 2.229519,
  'chf': 0.989567,
  'chz': 10.671588,
  'clf': 0.032916,
  'clp': 908.239507,
  'cny': 7.386477,
  'comp': 0.034247,
  'cop': 5190.858715,
  'crc': 633.578615,
  'cro': 18.928103,
  'crv': 2.036346,
  'cuc': 1.070722,
  'cup': 28.374125,
  'cve': 110.607377,
  'cvx': 0.334336,
  'czk': 24.159119,
  'dai': 1.071034,
  'dash': 0.025515,
  'dcr': 0.058094,
  'dfi': 339.218577,
  'djf': 190.288214,
  'dkk': 7.437124,
  'doge': 15.303989,
  'dop': 60.228276,
  'dot': 0.246001,
  'dzd': 146.880936,
  'egld': 0.032642,
  'egp': 26.497299,
  'enj': 4.434485,
  'eos': 1.221283,
  'ern': 16.060825,
  'etb': 57.444376,
  'etc': 0.068215,
  'eth': 0.000893,
  'eur': 1,
  'fei': 1.093319,
  'fil': 0.347858,
  'fjd': 2.379683,
  'fkp': 0.884777,
  'flow': 1.636571,
  'frax': 1.070324,
  'ftm': 5.348907,
  'ftt': 1.250732,
  'gala': 63.988463,
  'gbp': 0.885851,
  'gel': 2.891739,
  'ggp': 0.884777,
  'ghs': 10.867858,
  'gip': 0.884777,
  'gmd': 66.330685,
  'gnf': 9390.228976,
  'gno': 0.01282,
  'grt': 19.053927,
  'gt': 0.355516,
  'gtq': 8.403227,
  'gyd': 224.029896,
  'hbar': 28.284431,
  'hkd': 8.356072,
  'hnl': 26.443862,
  'hnt': 0.697313,
  'hot': 1497.108194,
  'hrk': 7.540232,
  'ht': 0.209966,
  'htg': 158.474211,
  'huf': 399.646752,
  'icp': 0.268709,
  'idr': 16668.995147,
  'ils': 3.777401,
  'imp': 0.884777,
  'inj': 0.844839,
  'inr': 88.596383,
  'iqd': 1563.789017,
  'irr': 44809.702292,
  'isk': 151.517943,
  'jep': 0.884777,
  'jmd': 162.441216,
  'jod': 0.75946,
  'jpy': 140.184238,
  'kava': 2.030363,
  'kcs': 0.164153,
  'kda': 1.228085,
  'kes': 132.121043,
  'kgs': 91.739641,
  'khr': 4409.754449,
  'klay': 7.174812,
  'kmf': 492.772914,
  'knc': 2.352741,
  'kpw': 963.649508,
  'krw': 1351.197595,
  'ksm': 0.048622,
  'kwd': 0.328016,
  'kyd': 0.89236,
  'kzt': 495.591179,
  'lak': 18566.313807,
  'lbp': 1630.17584,
  'leo': 0.304314,
  'link': 0.190773,
  'lkr': 393.521737,
  'lrc': 5.680259,
  'lrd': 165.42496,
  'lsl': 18.2129,
  'ltc': 0.015183,
  'ltl': 3.161562,
  'luna': 0.837846,
  'lvl': 0.647669,
  'lyd': 5.16622,
  'mad': 11.176996,
  'mana': 3.574927,
  'matic': 1.414786,
  'mdl': 20.51512,
  'mga': 4796.833033,
  'mina': 2.492527,
  'miota': 6.24769,
  'mkd': 61.793716,
  'mkr': 0.002091,
  'mmk': 2248.694767,
  'mnt': 3692.029651,
  'mop': 8.595622,
  'mro': 382.247456,
  'mur': 47.111203,
  'mvr': 16.493461,
  'mwk': 1096.957223,
  'mxn': 20.8749,
  'myr': 4.716543,
  'mzn': 68.343795,
  'nad': 18.213319,
  'near': 0.842409,
  'neo': 0.168235,
  'nexo': 1.591323,
  'ngn': 479.769262,
  'nio': 38.971268,
  'nok': 10.50078,
  'npr': 141.472712,
  'nzd': 1.687929,
  'okb': 0.039239,
  'omr': 0.412234,
  'one': 1782.775228,
  'pab': 1.070792,
  'paxg': 0.000588,
  'pen': 4.072997,
  'pgk': 3.768672,
  'php': 59.617519,
  'pkr': 242.57205,
  'pln': 4.688101,
  'pyg': 7885.104471,
  'qar': 3.89823,
  'qnt': 0.010144,
  'qtum': 0.573642,
  'ron': 4.935274,
  'rsd': 117.329644,
  'rub': 78.965922,
  'rune': 1.145795,
  'rwf': 1145.6722,
  'sand': 2.771592,
  'sar': 4.026874,
  'sbd': 8.863742,
  'scr': 14.353854,
  'sdg': 611.917924,
  'sek': 11.157345,
  'sgd': 1.435409,
  'shib': 132207.349309,
  'shp': 1.474809,
  'sle': 20.188511,
  'sll': 20156.336369,
  'sol': 0.107839,
  'sos': 609.77906,
  'srd': 34.058556,
  'std': 22161.777041,
  'stx': 353.772647,
  'svc': 9.370018,
  'syp': 2690.217182,
  'szl': 18.212895,
  'thb': 37.057634,
  'theta': 1.465019,
  'tjs': 10.917046,
  'tmt': 3.747526,
  'tnd': 3.328339,
  'top': 2.506827,
  'trx': 19.536368,
  'try': 20.024894,
  'ttd': 7.276653,
  'ttt': 112.373244,
  'tusd': 1.070214,
  'twd': 32.80475,
  'tzs': 2496.923231,
  'uah': 39.350759,
  'ugx': 3983.31795,
  'uni': 10748.281059,
  'usd': 1.070722,
  'usdc': 1.070743,
  'usdp': 1.078114,
  'usdt': 1.071047,
  'uyu': 42.794565,
  'uzs': 12050.972745,
  'vef': 1846646.253661,
  'ves': 18.304844,
  'vet': 67.093854,
  'vnd': 25306.506957,
  'vuv': 125.527821,
  'waves': 0.825608,
  'wbtc': 6.5e-05,
  'wemix': 2.964703,
  'wst': 2.886797,
  'xaf': 657.918169,
  'xag': 0.044688,
  'xau': 0.000587,
  'xcd': 2.893679,
  'xch': 0.037769,
  'xdc': 41.658708,
  'xdr': 0.804699,
  'xec': 48691.006539,
  'xem': 37.214368,
  'xlm': 14.822714,
  'xmr': 0.007199,
  'xof': 659.020864,
  'xpf': 119.867268,
  'xrp': 3.16696,
  'xtz': 1.493592,
  'yer': 268.002925,
  'zar': 18.223364,
  'zec': 0.028819,
  'zil': 66.091814,
  'zmk': 9637.774137,
  'zmw': 19.392033,
  'zwl': 344.771945}}

In [74]:
data = pd.DataFrame.from_dict(results_02012023["eur"], orient="index").reset_index()
data.columns = ["currency", "rate_2023_01_02"]
data

    currency  rate_2023_01_02
0      1inch         2.786093
1       aave         0.020630
2        ada         4.301839
3        aed         3.932370
4        afn        93.691890
..       ...              ...
267      zec         0.028819
268      zil        66.091814
269      zmk      9637.774137
270      zmw        19.392033
271      zwl       344.771945

[272 rows x 2 columns]

In [75]:
#second requesting the close price at 20 November 2023
fx_20112023 = requests.get("https://cdn.jsdelivr.net/gh/fawazahmed0/currency-api@1/2023-11-20/currencies/eur.json")
print("fx_20112023:", fx_20112023.status_code)

fx_20112023: 200

In [76]:
results_20112023 = fx_20112023.json()

In [77]:
results_20112023

{'date': '2023-11-20',
 'eur': {'00': 14.95276217,
  '1inch': 2.99723971,
  'aave': 0.011942087,
  'abt': 11.98027457,
  'ach': 55.44675444,
  'acs': 487.12917271,
  'ada': 2.8499242,
  'aed': 4.00590563,
  'aergo': 6.5553125,
  'afn': 75.33795464,
  'agld': 1.35748118,
  'aioz': 13.63505,
  'akt': 0.66816084,
  'alcx': 0.069878539,
  'aleph': 11.68509909,
  'algo': 7.77868784,
  'alice': 1.12570072,
  'all': 103.95144797,
  'amd': 437.35642973,
  'amp': 427.82474755,
  'ang': 1.95816277,
  'ankr': 41.06942771,
  'ant': 0.2128398,
  'aoa': 913.55181795,
  'ape': 0.78574502,
  'api3': 0.74028096,
  'apt': 0.15022039,
  'ar': 0.11846107,
  'arb': 1.0375732,
  'arpa': 21.11914811,
  'ars': 385.20617612,
  'asm': 28.13888817,
  'ast': 11.03494183,
  'ata': 11.7733837,
  'atom': 0.11587096,
  'ats': 13.7603,
  'auction': 0.12133526,
  'aud': 1.6724189,
  'audio': 5.74107368,
  'aurora': 10.8000396,
  'avax': 0.04722194,
  'avt': 1.05903301,
  'awg': 1.95250404,
  'axl': 1.85779443,
  'axs': 0.17386829,
  'azm': 9271.46181449,
  'azn': 1.85429236,
  'badger': 0.30091145,
  'bake': 7.34646947,
  'bal': 0.29283329,
  'bam': 1.95583,
  'band': 0.73208322,
  'bat': 4.8468254,
  'bbd': 2.18156876,
  'bch': 0.0046769116,
  'bdt': 120.35515878,
  'bef': 40.3399,
  'bgn': 1.95583,
  'bhd': 0.41013493,
  'bico': 3.94147787,
  'bif': 3091.29753908,
  'bigtime': 5.73202312,
  'bit': 2.23594138,
  'blur': 3.13359379,
  'blz': 4.46410477,
  'bmd': 1.09078438,
  'bnb': 0.0044114585,
  'bnd': 1.46443755,
  'bnt': 1.4042276,
  'bob': 7.51250139,
  'boba': 7.56714533,
  'bond': 0.27178377,
  'brl': 5.31168966,
  'bsd': 1.09078438,
  'bsv': 0.022649498,
  'bsw': 13.55772547,
  'btc': 2.9186554e-05,
  'btcb': 2.9223571e-05,
  'btg': 0.069254862,
  'btn': 90.70083232,
  'btrst': 2.41061657,
  'btt': 2236237.73312439,
  'busd': 1.08997173,
  'bwp': 14.59723555,
  'byn': 3.59952659,
  'byr': 35995.26591141,
  'bzd': 2.19303365,
  'c98': 6.19598978,
  'cad': 1.49617335,
  'cake': 0.43030099,
  'cbeth': 0.00051370511,
  'cdf': 2862.18227619,
  'celo': 1.95228183,
  'celr': 72.4786711,
  'cfx': 6.87384285,
  'cgld': 1.97968058,
  'chf': 0.9654923,
  'chz': 14.05984206,
  'clp': 967.81287529,
  'clv': 27.23605493,
  'cnh': 7.85931834,
  'cny': 7.84565953,
  'comp': 0.020755997,
  'cop': 4467.59492384,
  'coti': 21.68596421,
  'coval': 133.75892091,
  'crc': 581.05785684,
  'cro': 11.08959173,
  'crpt': 23.38211854,
  'crv': 1.8914891,
  'cspr': 33.23620721,
  'ctsi': 7.28173565,
  'ctx': 0.47426261,
  'cuc': 1.09078438,
  'cup': 26.11809199,
  'cvc': 8.54862069,
  'cve': 110.27,
  'cvx': 0.29276485,
  'cyp': 0.585274,
  'czk': 24.51895505,
  'dai': 1.09058292,
  'dar': 9.69603556,
  'dash': 0.035552049,
  'dcr': 0.071075561,
  'ddx': 11.33807609,
  'dem': 1.95583,
  'deso': 0.10044236,
  'dext': 1.81634169,
  'dfi': 4.03482285,
  'dia': 3.60477198,
  'dimo': 12.21710254,
  'djf': 194.0006231,
  'dkk': 7.4571802,
  'dnt': 37.03918506,
  'doge': 13.58601144,
  'dop': 61.74116238,
  'dot': 0.19937621,
  'drep': 3.89921001,
  'dyp': 5.33778963,
  'dzd': 146.54550022,
  'eek': 15.64664,
  'egld': 0.023886084,
  'egp': 33.60297561,
  'ela': 0.95852724,
  'enj': 3.83942021,
  'ens': 0.12000044,
  'eos': 1.50792625,
  'ern': 16.36176566,
  'esp': 166.386,
  'etb': 60.8799176,
  'etc': 0.055788366,
  'eth': 0.00054349815,
  'eth2': 0.00054225556,
  'eur': 1,
  'euroc': 1.00018705,
  'farm': 0.03016604,
  'fei': 1.05587259,
  'fet': 2.18095371,
  'fida': 5.39201186,
  'fil': 0.22287291,
  'fim': 5.94573,
  'fis': 3.31098497,
  'fjd': 2.48596473,
  'fkp': 0.87506255,
  'flow': 1.55391217,
  'flr': 99.81810733,
  'fort': 9.11281537,
  'forth': 0.33718825,
  'fox': 42.94503937,
  'frax': 1.09129865,
  'frf': 6.55957,
  'ftm': 3.22917762,
  'ftt': 0.31688182,
  'fx': 7.37528059,
  'fxs': 0.14893496,
  'gal': 0.79273547,
  'gala': 43.11094767,
  'gbp': 0.87506255,
  'gel': 2.93940655,
  'gfi': 1.4724676,
  'ggp': 0.87506255,
  'ghc': 130197.30328327,
  'ghs': 13.01973033,
  'ghst': 1.32218667,
  'gip': 0.87506255,
  'glm': 4.19459335,
  'gmd': 73.2821024,
  'gmt': 4.17213234,
  'gmx': 0.021006899,
  'gnf': 9419.66394934,
  'gno': 0.0060450737,
  'gnt': 4.18818578,
  'gods': 4.28564581,
  'grd': 340.75,
  'grt': 7.85596479,
  'gst': 65.73880552,
  'gt': 0.25910831,
  'gtc': 0.99616804,
  'gtq': 8.52551167,
  'gusd': 1.09117934,
  'gyd': 227.37914798,
  'gyen': 163.06211227,
  'hbar': 16.90971326,
  'hft': 3.78291659,
  'high': 0.78559885,
  'hkd': 8.50291064,
  'hnl': 26.84020052,
  'hnt': 0.52686207,
  'hopr': 29.96714286,
  'hot': 688.35217745,
  'hrk': 7.5345,
  'ht': 0.37187954,
  'htg': 144.44445267,
  'huf': 379.27754351,
  'icp': 0.23705011,
  'idex': 19.25514563,
  'idr': 16814.58287835,
  'iep': 0.787564,
  'ils': 4.05606441,
  'ilv': 0.011147146,
  'imp': 0.87506255,
  'imx': 0.82332371,
  'index': 0.59282826,
  'inj': 0.065305295,
  'inr': 90.70083232,
  'inv': 0.033620096,
  'iotx': 45.27096908,
  'iqd': 1429.18286108,
  'irr': 46064.43371324,
  'isk': 152.90944213,
  'itl': 1936.26999998,
  'jasmy': 210.78338164,
  'jep': 0.87506255,
  'jmd': 169.61470482,
  'jod': 0.77336612,
  'jpy': 163.08957092,
  'jup': 520.95163327,
  'kas': 7.62597702,
  'kava': 1.38562897,
  'kcs': 0.14837294,
  'kda': 1.76141951,
  'keep': 9.30561338,
  'kes': 165.63337677,
  'kgs': 97.21992295,
  'khr': 4476.2687406,
  'klay': 6.32498028,
  'kmf': 491.96775,
  'knc': 1.37118905,
  'kpw': 981.7314846,
  'krl': 4.06864603,
  'krw': 1413.8636514,
  'ksm': 0.042699229,
  'kwd': 0.33628425,
  'kyd': 0.8983523,
  'kzt': 504.61357467,
  'lak': 22474.96939429,
  'lbp': 16369.39214296,
  'lcx': 25.63581669,
  'ldo': 0.45692453,
  'leo': 0.26837141,
  'link': 0.073224409,
  'lit': 1.23373183,
  'lkr': 357.92896853,
  'loka': 4.38778761,
  'loom': 8.82916831,
  'lpt': 0.15202843,
  'lqty': 0.75157887,
  'lrc': 4.86697365,
  'lrd': 206.74564388,
  'lseth': 0.00052806433,
  'lsl': 19.98389844,
  'ltc': 0.015417128,
  'ltl': 3.4528,
  'luf': 40.3399,
  'luna': 1.7273322,
  'lunc': 13947.38749492,
  'lvl': 0.7028,
  'lyd': 5.26611602,
  'mad': 11.06905326,
  'magic': 1.714831,
  'mana': 2.53389368,
  'mask': 0.30857256,
  'math': 12.63967555,
  'matic': 1.27858933,
  'mco2': 1.21946304,
  'mdl': 19.42863181,
  'mdt': 21.86637266,
  'media': 0.092716022,
  'metis': 0.05589567,
  'mga': 4929.66824202,
  'mgf': 24648.34121012,
  'mina': 1.70571369,
  'mir': 81.62274786,
  'mkd': 61.68651125,
  'mkr': 0.00078948389,
  'mln': 0.069455842,
  'mmk': 2285.02860386,
  'mnde': 5.58842154,
  'mnt': 3765.79604993,
  'mona': 0.0026996758,
  'mop': 8.75799796,
  'mpl': 0.077115871,
  'mro': 434.08011171,
  'mru': 43.40801117,
  'msol': 0.015498778,
  'mtl': 0.4293,
  'multi': 0.60306326,
  'mur': 48.15967711,
  'musd': 1.09448026,
  'muse': 0.13534388,
  'mvr': 16.80453008,
  'mwk': 1829.18787376,
  'mxc': 176.95580946,
  'mxn': 18.78399409,
  'mxv': 2.37112106,
  'myr': 5.1029703,
  'mzm': 69679.99202451,
  'mzn': 69.67999202,
  'nad': 19.98389844,
  'nct': 137.98912081,
  'near': 0.5375981,
  'neo': 0.096736281,
  'nest': 291.86372944,
  'nexo': 1.47985876,
  'nft': 3452735.07480703,
  'ngn': 917.07079929,
  'nio': 39.81942235,
  'nkn': 9.91189459,
  'nlg': 2.20371,
  'nmr': 0.07204782,
  'nok': 11.78682463,
  'npr': 145.18935734,
  'nu': 13.64950766,
  'nzd': 1.8147295,
  'ocean': 2.3661692,
  'ogn': 8.78193382,
  'okb': 0.018854177,
  'omg': 1.67175718,
  'omr': 0.41995614,
  'one': 77.16527225,
  'ooki': 475.7106049,
  'op': 0.61017631,
  'orca': 0.45254066,
  'orn': 1.67173027,
  'osmo': 1.61337672,
  'oxt': 13.99363695,
  'pab': 1.09078438,
  'pax': 1.09589993,
  'paxg': 0.00055594183,
  'pen': 4.10728215,
  'pepe': 926223.45786836,
  'perp': 1.72650206,
  'pgk': 4.06251151,
  'php': 60.52488086,
  'pkr': 314.53490662,
  'pla': 5.05587022,
  'pln': 4.38627275,
  'plu': 0.16602801,
  'png': 12.87692126,
  'pols': 2.92401555,
  'poly': 4.74572112,
  'pond': 102.4229108,
  'powr': 3.53296842,
  'prime': 0.14651498,
  'pro': 3.47003022,
  'prq': 18.47254869,
  'pte': 200.482,
  'pundix': 2.08407337,
  'pyg': 8086.58802579,
  'pyr': 0.15838594,
  'pyusd': 1.09143157,
  'qar': 3.97045513,
  'qi': 128.23936045,
  'qnt': 0.010735765,
  'qsp': 245.99816364,
  'qtum': 0.3505595,
  'quick': 0.021461958,
  'rad': 0.72000264,
  'rai': 0.39379206,
  'rare': 16.31718773,
  'rari': 0.87614779,
  'rbn': 5.73926129,
  'ren': 18.51001221,
  'rep': 1.59568212,
  'repv2': 1.59568212,
  'req': 12.87084366,
  'rgt': 1.57091012,
  'rlc': 0.74442367,
  'rly': 178.16914578,
  'rndr': 0.32560363,
  'rol': 49709.87111755,
  'ron': 4.97098711,
  'rose': 14.74159065,
  'rpl': 0.038826376,
  'rsd': 117.21704414,
  'rub': 97.54359174,
  'rune': 0.19678914,
  'rvn': 61.14603008,
  'rwf': 1354.43944566,
  'sand': 2.61216946,
  'sar': 4.09044142,
  'sbd': 9.21693064,
  'scr': 14.38184717,
  'sdd': 65557.8967293,
  'sdg': 655.57896729,
  'sei': 7.35786847,
  'sek': 11.47593584,
  'sgd': 1.46443755,
  'shib': 125557.07312854,
  'shp': 0.87506255,
  'shping': 282.6649391,
  'sit': 239.64,
  'skk': 30.126,
  'skl': 25.33807201,
  'sle': 24.54797175,
  'sll': 24547.97175243,
  'snt': 26.0552729,
  'snx': 0.31449502,
  'sol': 0.017887823,
  'sos': 620.26165318,
  'spa': 201.83254695,
  'spell': 2206.7651224,
  'spl': 0.1817974,
  'srd': 41.51879932,
  'srg': 41518.79932474,
  'ssp': 1150.79822,
  'std': 24611.80247743,
  'stg': 1.95107827,
  'stn': 24.61180248,
  'storj': 1.46524817,
  'stx': 1.68029057,
  'sui': 1.92485208,
  'suku': 27.86217114,
  'super': 8.64003168,
  'sushi': 0.99657759,
  'svc': 9.5443633,
  'swftc': 964.03358374,
  'sylo': 745.33925521,
  'syn': 2.49897824,
  'syp': 14182.21014634,
  'szl': 19.98389844,
  't': 44.19789303,
  'thb': 38.25967241,
  'theta': 1.13445688,
  'tia': 0.16047135,
  'time': 0.061298342,
  'tjs': 11.93572144,
  'tmm': 19053.52629669,
  'tmt': 3.81070526,
  'tnd': 3.3966046,
  'ton': 0.4593643,
  'tone': 274.15596074,
  'top': 2.59646695,
  'trac': 3.37240377,
  'trb': 0.012031148,
  'tribe': 3.44912359,
  'trl': 31318682.73176346,
  'tru': 21.96986908,
  'trx': 10.54305805,
  'try': 31.31868273,
  'ttd': 7.39225109,
  'ttt': 372.0594016,
  'tusd': 1.09121869,
  'tvd': 1.6724189,
  'tvk': 18.6973603,
  'twd': 34.6188968,
  'twt': 0.91256059,
  'tzs': 2724.51993146,
  'uah': 39.3543675,
  'ugx': 4111.98030031,
  'uma': 0.61058158,
  'unfi': 0.1154901,
  'uni': 0.20925111,
  'upi': 1345.49997412,
  'usd': 1.09078438,
  'usdc': 1.09083114,
  'usdd': 1.0931612,
  'usdp': 1.08855753,
  'usdt': 1.09028937,
  'ust': 93.03232409,
  'uyu': 43.19635404,
  'uzs': 13394.82228745,
  'val': 1936.26999998,
  'vara': 16.76225893,
  'veb': 3861430090.285316,
  'ved': 38.61480317,
  'vef': 3861480.31663209,
  'ves': 38.61480317,
  'vet': 50.95276677,
  'vgx': 8.14407791,
  'vnd': 26532.2426795,
  'voxel': 6.25281743,
  'vtho': 787.58411552,
  'vuv': 131.90581481,
  'wampl': 0.14286889,
  'waves': 0.49804407,
  'waxl': 1.85890252,
  'wbtc': 2.925465e-05,
  'wcfg': 1.9565991,
  'wemix': 0.60553856,
  'wluna': 17898.42803021,
  'woo': 4.47424185,
  'wst': 3.01384979,
  'xaf': 655.95699999,
  'xag': 0.046028285,
  'xau': 0.00055035177,
  'xaut': 0.0005493411,
  'xbt': 2.9186554e-05,
  'xcd': 2.94910971,
  'xch': 0.041224106,
  'xcn': 1232.54689266,
  'xdc': 20.64524117,
  'xdr': 0.82123757,
  'xec': 36345.27569807,
  'xem': 28.52047786,
  'xlm': 9.0151304,
  'xmon': 0.00067909614,
  'xmr': 0.006650652,
  'xof': 655.95699999,
  'xpd': 0.0010317004,
  'xpf': 119.33174224,
  'xpt': 0.0012063291,
  'xrp': 1.79279304,
  'xtz': 1.26737618,
  'xyo': 294.41403509,
  'yer': 272.94124532,
  'yfi': 0.00012339879,
  'yfii': 0.0011526218,
  'zar': 19.98389844,
  'zec': 0.037242914,
  'zen': 0.098581473,
  'zil': 48.98845662,
  'zmk': 25259.28171542,
  'zmw': 25.25928172,
  'zrx': 2.72214417,
  'zwd': 394.75486624,
  'zwl': 6257.17608117}}

In [78]:
data2 = pd.DataFrame.from_dict(results_20112023["eur"], orient="index").reset_index()
data2.columns = ["currency", "rate_2023_11_20"]
data2

    currency  rate_2023_11_20
0         00        14.952762
1      1inch         2.997240
2       aave         0.011942
3        abt        11.980275
4        ach        55.446754
..       ...              ...
532      zmk     25259.281715
533      zmw        25.259282
534      zrx         2.722144
535      zwd       394.754866
536      zwl      6257.176081

[537 rows x 2 columns]

In [79]:
#merging the 2 datasets
merged_data = pd.merge(data, data2, on='currency', how='left')

In [81]:
#adding year-to-date change:
merged_data['2023_YTD'] = round((merged_data['rate_2023_11_20']/merged_data['rate_2023_01_02']-1)*100,2)

In [82]:
merged_data

    currency  rate_2023_01_02  rate_2023_11_20  2023_YTD
0      1inch         2.786093         2.997240      7.58
1       aave         0.020630         0.011942    -42.11
2        ada         4.301839         2.849924    -33.75
3        aed         3.932370         4.005906      1.87
4        afn        93.691890        75.337955    -19.59
..       ...              ...              ...       ...
267      zec         0.028819         0.037243     29.23
268      zil        66.091814        48.988457    -25.88
269      zmk      9637.774137     25259.281715    162.09
270      zmw        19.392033        25.259282     30.26
271      zwl       344.771945      6257.176081   1714.87

[272 rows x 4 columns]

## (2) Arbeitnow: latest 100 job postings

In [89]:
Arbeitnow = requests.get("https://www.arbeitnow.com/api/job-board-api")
print("Arbeitnow:", Arbeitnow.status_code)

Arbeitnow: 200

In [90]:
results = Arbeitnow.json()
print(type(results))
print(len(results))

<class 'dict'>
3

In [94]:
jobs_data = json_normalize(results['data'])

In [95]:
jobs_data

,slug,company_name,title,description,remote,url,tags,job_types,location,created_at
0,marketingmanagerin-mainz-362410,ECO Hans Fördermittelexperten GmbH,Marketingmanager:in,<p>Als junges und ambitioniertes Team ist es u...,False,https://www.arbeitnow.com/jobs/companies/eco-h...,[Marketing Manager],[berufserfahren],Mainz,1700574543
1,junior-lean-spezialist-kupferzell-279471,GEMÜ Gebr. Müller GmbH & Co. KG,Junior Lean Spezialist (m/w/d),<p>Alles geregelt – Karriere inklusive!</p>\n<...,False,https://www.arbeitnow.com/jobs/companies/gemu-...,[Process Management],[],Kupferzell,1700574543
2,working-student-marketing-all-genders-cologne-...,HRS GmbH,Working Student Marketing (all genders),<p><strong>HRS AS A COMPANY</strong></p>\n<p>H...,True,https://www.arbeitnow.com/jobs/companies/hrs-g...,"[Remote, Marketing and Communication]",[],Cologne,1700574543
3,graphic-designer-ab-sofort-mannheim-175200,PV Commerce GmbH,Graphic Designer (m/w/d) - ab Sofort,"<p>Paul Valentine: eine Marke, die für hochwer...",False,https://www.arbeitnow.com/jobs/companies/pv-co...,[Graphic Arts and Communication Design],[berufserfahren],Mannheim,1700574543
4,senior-lean-spezialist-kupferzell-494259,GEMÜ Gebr. Müller GmbH & Co. KG,Senior Lean Spezialist (m/w/d),<p>Alles geregelt – Karriere inklusive!</p>\n<...,False,https://www.arbeitnow.com/jobs/companies/gemu-...,[Process Management],[],Kupferzell,1700574543
...,...,...,...,...,...,...,...,...,...,...
95,support-hse-manager-hybrid-bayreuth-221252,NES Global Deutschland GmbH / NES Fircroft,Support HSE Manager (m/w/d) - hybrid,<p>Für unseren Kunden in Bayreuth suchen wir z...,False,https://www.arbeitnow.com/jobs/companies/nes-g...,"[Management, Team Leader]",[teamleitung],Bayreuth,1700563742
96,online-marketing-lead-scaling-phase-berlin-217517,Matera GmbH,Online Marketing Lead | Scaling Phase,<p><strong>In a nutshell:</strong></p>\n<p>Wir...,False,https://www.arbeitnow.com/jobs/companies/mater...,[Online Marketing],[berufserfahren],Berlin,1700563742
97,softwareentwickler-saarbrucken-28310,eAces GmbH,Softwareentwickler,"<p>Für unseren Mandanten, eine innovative Stra...",False,https://www.arbeitnow.com/jobs/companies/eaces...,[Software Development],[berufserfahren],Saarbrücken,1700563742
98,senior-performance-manager-berlin-180561,Cosmo Beauty Brand House GmbH,Senior Performance Manager,<p><strong>Who are we?</strong> </p>\n<p>We'r...,False,https://www.arbeitnow.com/jobs/companies/cosmo...,[Marketing and Communication],[hilfstätigkeit / student],Berlin,1700563742
99,customer-care-vr-3rd-level-support-dusseldorf-...,CUREosity GmbH,Customer Care VR 3rd Level Support (m/w/d),"<p>Willkommen bei CUREosity GmbH, einem schnel...",False,https://www.arbeitnow.com/jobs/companies/cureo...,[Helpdesk],[berufseinstieg],Düsseldorf,1700563742

## (3) US Treasury Fiscal Data

In [198]:
treasuries = requests.get("https://api.fiscaldata.treasury.gov/services/api/fiscal_service/v2/accounting/od/avg_interest_rates?sort=-record_date")
print("treasuries:", treasuries.status_code)

treasuries: 200

In [191]:
treasuries = requests.get("https://api.fiscaldata.treasury.gov/services/api/fiscal_service/v2/accounting/od/avg_interest_rates?sort=-record_date&format=json&page[number]=1&page[size]=1")
print("treasuries:", treasuries.status_code)

treasuries: 200

In [200]:
#treasuries.content

In [201]:
results = treasuries.json()
print(type(results))
print(len(results))

<class 'dict'>
3

In [202]:
results.keys()

dict_keys(['data', 'meta', 'links'])

In [204]:
#results['data']

In [205]:
flattened_data = json_normalize(results['data'])

In [206]:
flattened_data

,record_date,security_type_desc,security_desc,avg_interest_rate_amt,src_line_nbr,record_fiscal_year,record_fiscal_quarter,record_calendar_year,record_calendar_quarter,record_calendar_month,record_calendar_day
0,2023-10-31,Marketable,Treasury Bills,5.437,1,2024,1,2023,4,10,31
1,2023-10-31,Marketable,Treasury Notes,2.190,2,2024,1,2023,4,10,31
2,2023-10-31,Marketable,Treasury Bonds,3.070,3,2024,1,2023,4,10,31
3,2023-10-31,Marketable,Treasury Inflation-Protected Securities (TIPS),0.613,4,2024,1,2023,4,10,31
4,2023-10-31,Marketable,Treasury Floating Rate Notes (FRN),5.430,5,2024,1,2023,4,10,31
...,...,...,...,...,...,...,...,...,...,...,...
95,2023-05-31,Non-marketable,State and Local Government Series,2.534,11,2023,3,2023,2,05,31
96,2023-05-31,Non-marketable,United States Savings Securities,3.125,12,2023,3,2023,2,05,31
97,2023-05-31,Non-marketable,United States Savings Inflation Securities,6.996,13,2023,3,2023,2,05,31
98,2023-05-31,Non-marketable,Government Account Series,2.564,14,2023,3,2023,2,05,31
99,2023-05-31,Non-marketable,Government Account Series Inflation Securities,1.055,15,2023,3,2023,2,05,31

## (4) Spanish weather data from AEMET OpenData
### note: could not sort this out to retrieve the actual data:/

In [96]:
import getpass
apikey = getpass.getpass()

········

In [138]:
weather_sp = requests.get('https://opendata.aemet.es/opendata/api/observacion/convencional/todas/?api_key='+apikey)
print("weather_sp:", weather_sp.status_code)

weather_sp: 200

In [139]:
weather_sp.content

b'{\n  "descripcion" : "exito",\n  "estado" : 200,\n  "datos" : "https://opendata.aemet.es/opendata/sh/bd317010",\n  "metadatos" : "https://opendata.aemet.es/opendata/sh/55c2971b"\n}'

In [140]:
results = weather_sp.json()
#print(type(results))
#print(len(results))

In [141]:
results.keys()

dict_keys(['descripcion', 'estado', 'datos', 'metadatos'])

In [142]:
results

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/bd317010',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/55c2971b'}

In [116]:
weather_sp.content

b'{\n  "descripcion" : "exito",\n  "estado" : 200,\n  "datos" : "https://opendata.aemet.es/opendata/sh/bd317010",\n  "metadatos" : "https://opendata.aemet.es/opendata/sh/55c2971b"\n}'

In [137]:
weather_madrid = requests.get('https://opendata.aemet.es/opendata/api/prediccion/especifica/municipio/diaria/280796/?accept=application/json/?api_key='+apikey)
print("weather_madrid:", weather_madrid.status_code)

weather_madrid: 200

In [136]:
weather_madrid.content

b''